<header class="bg-blue-400 text-white ">
    <div class="flex justify-between w-11/12">
        <div class="text-4xl py-4 px-10 font-bold">
            <p>Navbar</p>
        </div>
        <nav class="flex items-center">
            <ul class="flex">
                <li><a class="px-3 text-xl" routerLinkActive routerLink="">Home</a></li>
                <li><a class="px-3 text-xl" routerLinkActive routerLink="nosotros">Nosotros</a></li>
                <li><a class="px-3 text-xl" routerLinkActive routerLink="contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>