<div class="w-1/2 mx-auto border-2 rounded-lg border-blue-200 p-6 mt-5">
    <h1 class="text-center text-3xl">Contactanos</h1>
    <div class="my-4">
        <input type="text" placeholder="Nombre" class="w-full border py-2 rounded pl-1">
    </div>
    <div class="my-4">
        <input type="email" placeholder="Correo electronico*" class="w-full border py-2 rounded pl-1">
    </div>
    <div class="my-4">
        <input type="tel" placeholder="Teléfono" class="w-full border py-2 rounded pl-1">
    </div>
    <div class="my-4">
        <input type="text" placeholder="Sujeto" class="w-full border py-2 rounded pl-1">
    </div>
    <div>
        <textarea name="" id="" cols="30" rows="5" placeholder="Mensaje*" class="w-full border py-2 rounded pl-1"></textarea>
    </div>
    <div class="text-center mt-4">
        <button class="bg-blue-500 text-white py-2 px-7 rounded ">Enviar</button>
    </div>
</div>